<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Figma Design</title>
</head>
<link rel="stylesheet" href="/css/figma-one.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

<body>

    <div id="site-wrapper">

        <!-- header -->
        <div class="container">
            <header>
                <div id="navbar">
                    <div id="nav-container">
                        <div class="nav-container">
                            <a id="logo" href="#">
                                <h3 id="logo-text">
                                    ehya<span id="dot">
                                        .
                                    </span>
                                </h3>
                            </a>
                        </div>

                        <div class="nav-container">
                            <nav>
                                <div id="nav-links">
                                    <ul>
                                        <li><a class="nav-link" href="#">Home</a></li>
                                        <li><a href="#" class="nav-link">Landings</a><i class="bi bi-chevron-down"></i>
                                        </li>
                                        <li><a href="#" class="nav-link">pages</a><i class="bi bi-chevron-down"></i>
                                        </li>
                                        <li><a href="#" class="nav-link">Docs</a></li>
                                        <li><a href="#" class="nav-link">Help</a></li>
                                        <div id="nav-btn">
                                            <a href="#">Get it now</a>
                                        </div>
                                    </ul>
                                </div>

                            </nav>

                        </div>
                    </div>
                </div>
            </header>
        </div>
        
        <!-- main welcome section -->
        <section id="main-content-section">
            <div id="main-content-container">

                <div id="main-content-images">
                    <img src="/images/Pattern.png" alt="" id="img1">
                    <img src="/images/Image@2x.png" alt="" id="overlap-image">
                </div>
                <div id="main-content-card2">

                    <div id="site-heading">
                        <h1 class="heading-large">Make Your new life happier.</h1>
                    </div>

                    <div>
                        <p id="main-content-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, et fugiat repudiandae odio
                            laboriosam mollitia facilis nobis aliquid vero aliquam omnis expedita labore itaque tempora
                            doloribus, veniam pariatur impedit ut voluptates! Id, accusantium.
                        </p>
                    </div>

                    <!-- main content row -->
                    <div id="main-content-cards-row">

                        <div class="main-content-card">
                            <div class="main-content-card-img">
                                <img src="/images/path-1.png" alt="">
                            </div>
                            <div class="main-content-card-text">
                                <p class="main-content-card-title">Special expert rates</p>
                                <p class="main-content-card-subtitle">Excellent coverage</p>
                            </div>
                        </div>
                        <div class="main-content-card">
                            <div class="main-content-card-img">
                                <img src="/images/path-1.png" alt="">
                            </div>
                            <div class="main-content-card-text">
                                <p class="main-content-card-title">Special expert rates</p>
                                <p class="main-content-card-subtitle">Excellent coverage</p>
                            </div>
                        </div>
                        <div class="main-content-card">
                            <div class="main-content-card-img">
                                <img src="/images/path-1.png" alt="">
                            </div>
                            <div class="main-content-card-text">
                                <p class="main-content-card-title">Special expert rates</p>
                                <p class="main-content-card-subtitle">Excellent coverage</p>
                            </div>
                        </div>
                        <div class="main-content-card">
                            <div class="main-content-card-img">
                                <img src="/images/path-1.png" alt="">
                            </div>
                            <div class="main-content-card-text">
                                <p class="main-content-card-title">Special expert rates</p>
                                <p class="main-content-card-subtitle">Excellent coverage</p>
                            </div>
                        </div>

                    </div>

                    <div id="main-content-btn">
                        <a href="#" class="main-btn">Get a consultation</a>
                    </div>
                </div>

            </div>
        </section>

        <!-- services section -->
        <section id="service-content-section">
            <div class="container">
                <div id="services-container">

                    <div id="service">
                        <h4 id="service-title">OUR SERVICES</h4>
                        <h2 id="service-subtitle">Insurance made simple for you</h2>
                        <p class="service-text">
                            We work with several leading insurance companies to secure insurance
                            coverages tailored to meet your needs.
                        </p>
                    </div>

                    <div id="service-uses-card">
                        <div class="service-card">
                            <div>
                                <img src="/images/Icon  8.svg" alt="icon">
                            </div>
                            <div>
                                <p>
                                    Flexible products to make your life easier
                                </p>
                            </div>
                        </div>
                        <div class="service-card">
                            <div>
                                <img src="/images/Icon  8.svg" alt="icon">
                            </div>
                            <div>
                                <p>
                                    Highest standards of service
                                </p>
                            </div>
                        </div>
                        <div class="service-card">
                            <div>
                                <img src="/images/Icon  8.svg" alt="icon">
                            </div>
                            <div>
                                <p>
                                    Fast and reliable service
                                </p>
                            </div>
                        </div>

                    </div>

                    <div id="services-icon-cards">

                        <div class="service-icon-card">
                            <div class="service-icon-img">
                                <img src="/images/Icon  9-1.svg" alt="">
                            </div>
                            <div class="service-icon-title">
                                <h4>Home insurance</h4>
                                <p>Home insurance is a type of
                                    insurance policy that provides
                                    cover.</p>
                            </div>
                            <div class="service-icon-card-link">
                                <a href="#">Learn more <span><i class="bi bi-arrow-right-short"></i></span> </a>
                            </div>
                        </div>

                        <div class="service-icon-card">
                            <div class="service-icon-img">
                                <img src="/images/Icon  10.png" alt="">
                            </div>
                            <div class="service-icon-title">
                                <h4>Life insurance</h4>
                                <p>Helping you bridge gaps in your
                                    health care coverage during
                                    times of transition.</p>
                            </div>
                            <div class="service-icon-card-link">
                                <a href="#">Learn more <span><i class="bi bi-arrow-right-short"></i></span> </a>
                            </div>
                        </div>

                        <div class="service-icon-card">
                            <div class="service-icon-img">
                                <img src="/images/Icon  11.png" alt="">
                            </div>
                            <div class="service-icon-title">
                                <h4>Car insurance</h4>
                                <p>Car insurance is a type of
                                    insurance policy that provides
                                    cover for your car.</p>
                            </div>
                            <div class="service-icon-card-link">
                                <a href="#">Learn more <span><i class="bi bi-arrow-right-short"></i></span> </a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </section>

        <!-- customer image section  -->
        <section id="customer-content-section">
            <div class="container">
                <div id="customer-card-container">
                    <div id="customer-card">
                        <div id="quote-icon">
                            <img src="/images/quote-left.png" alt="">
                        </div>
                        <div id="customer-review-text">
                            <p class="text-large">
                                This platform is one of the best
                                companies I have dealt with in
                                Indonesia. They’re always happy
                                to help, and i wouldn’t hesitate
                                to recommend them.
                            </p>
                        </div>
                        <div id="customer-review-icon">
                            <div id="customer-name">
                                <h4>
                                    Daniel Anderson
                                </h4>
                            </div>
                            <div id="customer-success-icon">
                                <div id="sucees-icon-img">
                                    <img src="/images/Icon .svg" alt="success-icon">
                                </div>
                                <div id="success-text">
                                    <i>Verified customer</i>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- benefits section -->
        <section id="benefits-content-section">
            <div class="container">


                <div id="benefits-content">

                    <div class="benefit-card">
                        <div id="benefits-section-title">
                            <b>
                                <h4>YOUR BENEFITS</h4>
                            </b>
                        </div>
                        <div id="benefits-section-subtitle">
                            <b>
                                <p>
                                    We’re your right
                                    insurance advocate
                                </p>
                            </b>
                        </div>
                    </div>

                    <div class="benefit-card">
                        <div class="benefits-card-img">
                            <img src="/images/Icon  10-1.svg" alt="">
                        </div>
                        <div class="benefits-card-text">
                            <div class="benefits-card-title">
                                <b>
                                    <p>We have the best prices</p>
                                </b>
                            </div>
                            <div class="benefits-card-subtitle">
                                <p>Our insurance plans offers are priced
                                    the same everywhere else. We just make
                                    them easier for you to find.</p>
                            </div>
                        </div>
                    </div>

                    <div class="benefit-card">
                        <div class="benefits-card-img">
                            <img src="/images/Icon  10-1.svg" alt="">
                        </div>
                        <div class="benefits-card-text">
                            <div class="benefits-card-title">
                                <b>
                                    <p>We’re your insurance advocate</p>
                                </b>
                            </div>
                            <div class="benefits-card-subtitle">
                                <p>We will deal with the insurance
                                    companies for you, even after you’ve
                                    bought your plan.</p>
                            </div>
                        </div>
                    </div>

                    <div class="benefit-card">
                        <div class="benefits-card-img">
                            <img src="/images/Icon  10-1.svg" alt="">
                        </div>
                        <div class="benefits-card-text">
                            <div class="benefits-card-title">
                                <b>
                                    <p>We’re unbiased</p>
                                </b>
                            </div>
                            <div class="benefits-card-subtitle">
                                <p>Our online tools help you decide what
                                    product is best for you. We’re here to
                                    insurance plan you choose.</p>
                            </div>
                        </div>
                    </div>

                    <div class="benefit-card">
                        <div class="benefits-card-img">
                            <img src="/images/Icon  10-1.svg" alt="">
                        </div>
                        <div class="benefits-card-text">
                            <div class="benefits-card-title">
                                <b>
                                    <p>We’re available 24/7</p>
                                </b>
                            </div>
                            <div class="benefits-card-subtitle">
                                <p>We have your back 24/7 between our
                                    online chat function, email and
                                    telephone support.</p>
                            </div>
                        </div>
                    </div>

                    <div class="benefit-card">
                        <div class="benefits-card-img">
                            <img src="/images/Icon  10-1.svg" alt="">
                        </div>
                        <div class="benefits-card-text">
                            <div class="benefits-card-title">
                                <b>
                                    <p>We make insurance simple</p>
                                </b>
                            </div>
                            <div class="benefits-card-subtitle">
                                <p>We’re committed to making applying for
                                    insurance as simple as can be for our
                                    customers.</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section>

        <!-- tips section -->
        <section id="tips-content-section">
            <div class="container">
                <div id="tips-content">
                    <div id="service">
                        <h4 id="service-title">OUR TIPS FOR YOU</h4>
                        <h2 id="service-subtitle">Reiventing your protection</h2>
                        <p class="service-text">
                            We work with several leading insurance companies to secure insurance
                            coverages tailored to meet your needs.
                        </p>
                    </div>
                    <div id="tips-icon-img">
                        <div class="tips-img" id="tips-image1">
                            <p class="tips-img-text">How to prevent and protect your family from carbon monoxide.</p>
                        </div>
                        <div class="tips-img" id="tips-image2">
                            <p class="tips-img-text">How to prevent and protect your family from carbon monoxide.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- testonomial section -->
        <section id="testomonial-content-section">
            <div class="container">
                <div id="testimonial-text">
                    <div id="testimonial-title">
                        <h4>TESTIMONIALS</h4>
                    </div>
                    <div id="testomonial-subtitle">
                        what our customer have to says
                    </div>
                </div>

                <div id="testomonial-card-row">
                    <div class="testomonial-card-col">
                        <div class="start-images">
                            <div class="star">
                                <img src="/images/s  2.svg" alt="">
                            </div>
                            <div class="star">
                                <img src="/images/s  2.svg" alt="">
                            </div>
                            <div class="star">
                                <img src="/images/s  2.svg" alt="">
                            </div>
                            <div class="star">
                                <img src="/images/s  2.svg" alt="">
                            </div>
                            <div class="star">
                                <img src="/images/s  2.svg" alt="">
                            </div>
                        </div>
                        <div class="testomonial-card-text">
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem, qui. Lorem ipsum
                                dolor sit amet.
                            </p>
                        </div>
                        <div class="testomonial-card-icon">
                            <div class="testomonial-img">
                                <img src="/images/Avatar-1.png" alt="">
                            </div>
                            <div id="testomonial-detail">
                                <div class="testomonial-name">
                                    <h4>Viola manisa</h4>
                                </div>
                                <div class="verified-tag">
                                    <img src="/images/Icon  2.svg" alt="">
                                    <span>Verified customer</spna>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testomonial-card-col">
                        <div class="start-images">
                            <div class="star">
                                <img src="/images/s  2.svg" alt="">
                            </div>
                            <div class="star">
                                <img src="/images/s  2.svg" alt="">
                            </div>
                            <div class="star">
                                <img src="/images/s  2.svg" alt="">
                            </div>
                            <div class="star">
                                <img src="/images/s  2.svg" alt="">
                            </div>
                            <div class="star">
                                <img src="/images/s  2.svg" alt="">
                            </div>
                        </div>
                        <div class="testomonial-card-text">
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem, qui. Lorem ipsum
                                dolor sit amet.
                            </p>
                        </div>
                        <div class="testomonial-card-icon">
                            <div class="testomonial-img">
                                <img src="/images/Avatar-1.png" alt="">
                            </div>
                            <div id="testomonial-detail">
                                <div class="testomonial-name">
                                    <h4>Viola manisa</h4>
                                </div>
                                <div class="verified-tag">
                                    <img src="/images/Icon  2.svg" alt="">
                                    <span>Verified customer</spna>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testomonial-card-col">
                        <div class="start-images">
                            <div class="star">
                                <img src="/images/s  2.svg" alt="">
                            </div>
                            <div class="star">
                                <img src="/images/s  2.svg" alt="">
                            </div>
                            <div class="star">
                                <img src="/images/s  2.svg" alt="">
                            </div>
                            <div class="star">
                                <img src="/images/s  2.svg" alt="">
                            </div>
                            <div class="star">
                                <img src="/images/s  2.svg" alt="">
                            </div>
                        </div>
                        <div class="testomonial-card-text">
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem, qui. Lorem ipsum
                                dolor sit amet.
                            </p>
                        </div>
                        <div class="testomonial-card-icon">
                            <div class="testomonial-img">
                                <img src="/images/Avatar-1.png" alt="">
                            </div>
                            <div id="testomonial-detail">
                                <div class="testomonial-name">
                                    <h4>Viola manisa</h4>
                                </div>
                                <div class="verified-tag">
                                    <img src="/images/Icon  2.svg" alt="">
                                    <span>Verified customer</spna>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testomonial-card-col">
                        <div class="start-images">
                            <div class="star">
                                <img src="/images/s  2.svg" alt="">
                            </div>
                            <div class="star">
                                <img src="/images/s  2.svg" alt="">
                            </div>
                            <div class="star">
                                <img src="/images/s  2.svg" alt="">
                            </div>
                            <div class="star">
                                <img src="/images/s  2.svg" alt="">
                            </div>
                            <div class="star">
                                <img src="/images/s  2.svg" alt="">
                            </div>
                        </div>
                        <div class="testomonial-card-text">
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem, qui. Lorem ipsum
                                dolor sit amet.
                            </p>
                        </div>
                        <div class="testomonial-card-icon">
                            <div class="testomonial-img">
                                <img src="/images/Avatar-1.png" alt="">
                            </div>
                            <div id="testomonial-detail">
                                <div class="testomonial-name">
                                    <h4>Viola manisa</h4>
                                </div>
                                <div class="verified-tag">
                                    <img src="/images/Icon  2.svg" alt="">
                                    <span>Verified customer</spna>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <!-- testonomial section -->
        <section id="testomonial-second-section">
            <div class="container">
                <div id="testomonial-second-row">
                    <div class="testomonial-second-col">
                        <img src="/images/Item.png" alt="">
                    </div>
                    <div class="testomonial-second-col">
                        <div class="testonomial-img">
                            <img src="/images/trustpilot-logo.svg" alt="">
                        </div>
                        <div class="start-images" id="starts">
                            <div class="star">
                                <img src="/images/s  2.svg" alt="">
                            </div>
                            <div class="star">
                                <img src="/images/s  2.svg" alt="">
                            </div>
                            <div class="star">
                                <img src="/images/s  2.svg" alt="">
                            </div>
                            <div class="star">
                                <img src="/images/s  2.svg" alt="">
                            </div>
                            <div class="star">
                                <img src="/images/s  2.svg" alt="">
                            </div>
                        </div>
                        <div class="feedback-text">
                            <p><span>4.6 out of 5 start</span>from 8.6k reviews</p>
                        </div>
                    </div>
                    <div class="testomonial-second-col">
                        <div class="thum-image">
                            <img src="/images/Path-2.png" alt="">
                        </div>

                        <div class="feedback-text">
                            <p><span>4.6 out of 5 start</span>from 8.6k reviews</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- footer code -->
        <footer id="fotter">
            <div class="container">
            
            <div id="fotter-card-rows">

                <div id="fotter-card-col1">
                    <div id="fotter-title">
                        <p>
                            Ready To get insured? Submit Your request and hear back as soon as tomorrow.
                        </p>
                    </div>
                    <div id="footer-form">
                        <div id="form-input">
                            <input type="text" id="input-tag" placeholder="Your Email">
                        </div>
                        <div id="form-btn">
                            <div id="footer-btn">
                                <a href="#" class="main-btn">Get started</a>
                            </div>
                        </div>
                        
                    </div>
                    <div id="form-helper-text">
                        <p>Get a response tomorrow if you submit by 9pm today. if we recevied after 9pm will get a response the following days.</p>
                    </div>
                </div>

                <div id="fotter-card-col2">

                    <div class="overlay-cards">
                        <div class="overlay-card" id="parent-overlay-card">
                            <div class="overlay-img">
                                <img src="/images/Icon  10.png" alt="">
                            </div>
                            <div class="overlay-card-text">
                                <div class="overlay-card-title">
                                    <h4>We have the beast prices</h4>
                                </div>
                                <div class="overlay-card-subtitle">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, nemo.</p>
                                </div>
                            </div>
                        </div>

                        <div class="overlay-card" id="child-overlay-card">
                            <div class="overlay-img">
                                <img src="/images/Icon  10.png" alt="">
                            </div>
                            <div class="overlay-card-text">
                                <div class="overlay-card-title">
                                    <h4>We make insurnace simple</h4>
                                </div>
                                <div class="overlay-card-subtitle">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, nemo.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            
            <div id="fotter-links">
                <div class="fotter-links" id="fotter-img">
                    <div class="fotter-site-logo">
                        <h4>ehya</h4>
                    </div>
                    <div class="fotter-text">
                        <p>
                            Lorem, ipsum dolor sit amet consectetur Lorem, ipsum dolor.
                        </p>
                    </div>
                    <div class="fotter-social-links">
                        <a href="#"><i class="bi bi-facebook"></i></a>
                        <a href="#"><i class="bi bi-google"></i></a>
                        <a href="#"><i class="bi bi-instagram"></i></a>
                        <a href="#"><i class="bi bi-twitter"></i></a>
                    </div>
                </div>
                <div class="fotter-links">
                    <div class="links">
                        <a href="#"><h4>Product</h4></a>
                        <a href="#"><h4>Feature</h4></a>
                        <a href="#"><h4>Documentation</h4></a>
                        <a href="#"><h4>Referal Program</h4></a>
                        <a href="#"><h4>Pricing</h4></a>
                    </div>
                </div>
                <div class="fotter-links">
                    <div class="links">
                        <a href="#"><h4>Product</h4></a>
                        <a href="#"><h4>Feature</h4></a>
                        <a href="#"><h4>Documentation</h4></a>
                        <a href="#"><h4>Referal Program</h4></a>
                        <a href="#"><h4>Pricing</h4></a>
                    </div>
                </div>
                <div class="fotter-links">
                    <div class="links">
                        <a href="#"><h4>Product</h4></a>
                        <a href="#"><h4>Feature</h4></a>
                        <a href="#"><h4>Documentation</h4></a>
                        <a href="#"><h4>Referal Program</h4></a>
                        <a href="#"><h4>Pricing</h4></a>
                    </div>
                </div>
                <div class="fotter-links">
                    <div class="links">
                        <a href="#"><h4>Product</h4></a>
                        <a href="#"><h4>Feature</h4></a>
                        <a href="#"><h4>Documentation</h4></a>
                        <a href="#"><h4>Referal Program</h4></a>
                        <a href="#"><h4>Pricing</h4></a>
                    </div>
                </div>
                
            </div>

            <div id="footer-heart-icon">
                <!-- <i class="bi bi-heart"></i> -->
                <p>copyright © 2019 crafted with love.</p>
            </div>

        </div>
        </footer>
        
    </div>
</body>

</html>