<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login User</title>
</head>
<link rel="stylesheet" href="/css/login.css">

<body>
    <div id="container">
        <div class="main-container">

            <div class="left-content">
                <div class="form-content">
                    <img src="/images/logo.svg" alt="">
                    <div class="auth-title">
                        <h5>Welcome Bcick!</h5>
                    </div>
                    <div class="form-elemnet">
                        <form action="/login" method="post">

                            <div class="input-tag">

                                <div class="label">
                                    <label for="email">Email</label>
                                </div>

                                <div class="input">
                                    <input type="text" name="email">
                                </div>
                            </div>
                            
                            <div class="input-tag">

                                <div class="label">
                                    <label for="password">Password</label>
                                </div>

                                <div class="input">
                                    <input type="text" name="password">
                                </div>
                            </div>
                            <div class="sign-in-btn forgot-btn">
                                <span class="main-btn-text">Forgot Password?</span> <span class="sign-btn"><a
                                        href="">Click here</a></span>
                            </div>
                            <div class="register-btn">
                                <input type="submit" value="Login">
                            </div>
                        </form>
                    </div>
                    <div class="sign-in-btn-content">
                        <div class="sign-in-btn">
                            <span class="main-btn-text">Don't have an account?</span> <span class="sign-btn"><a
                                    href="/register">Sign Up here</a></span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="right-content">
                <div class="right-content-banner">
                    <img src="/images/bottom-logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
</body>

</html>